@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    font-family: "El Messiri", serif;
  }
  html {
    font-family: "Open Sans", sans-serif;
  }
  .sidebar-icon {
    @apply relative flex items-center justify-center
    h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
    hover:bg-Independence hover:text-White
    rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear
    cursor-pointer;
  }
  .login-button {
    @apply relative flex items-center justify-center
    h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
    hover:bg-Independence hover:text-White
    rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear
    cursor-pointer;
  }
  .favourite-button {
    @apply relative flex items-center justify-center
    h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
    hover:bg-red-500 hover:text-White
    rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear
    cursor-pointer;
  }
  .logout-button {
    @apply relative flex items-center justify-center
    h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
    hover:bg-Independence hover:text-White
    rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear
    cursor-pointer;
  }
}
.nav-bar {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(#FFFFFF, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 6rem;
  padding: 2rem 0;
  align-items: center;
  justify-content: space-between;
}

/* .widgets {
display: flex;
flex-direction: column;
justify-content: flex-start;
margin: 2rem 0;
padding: 0 2rem;
width: 100%;
} */

.layout {
background-color: #F2E9E4;
display: flex;
min-height: 100vh;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}


